.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px auto;
  background-color: white;
}
.header{
  text-decoration: none;
  grid-column: 1/3;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: black;
  color: blue;
}
.mmenu {
  background-color: rgb(112, 109, 104);
}