.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.mainmenu a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 5px;
    color: rgb(104, 35, 35);
}
  
.mainmenu a:hover {
      background-color: #3b1919;
  }
  
.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
.submenu a {
    background-color: rgb(83, 156, 50);
  }
  
.submenu a:hover {
    background-color: #666;
  }
  
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }