{% extends 'base.html' %}
{% block text %} Початкова інформація {% endblock %}
{% block table %}
<h3> Завдання: </h3>
    <ol>
        <li> Створити прелік вендорів згідно наданого списку </li>
        <li> Виводити перелік вразливостей за останні тиждень, місяць, рік </li>
        <li> Виводити інформацію про вразливість з полями, згідно наданого переліку </li>
    </ol> 
<h3> Використання: </h3>
    <ul>
        <li> Для переходу на цю сторінку натисніть "MAINPAGE" </li>
        <li> Виберіть вендора з меню (натиснувши на саме ім'я вендора отримаєте список останніх 15 CVE) </li>
        <li> Виберіть підпункт для визначення діапазону часу для списку CVE </li>
        <li> Натисніть на ім'я (id) CVE для отримання детальної інформації </li>
    </ul>
{% endblock %}